/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --secondary-color: #0083fc;
    --dark-color: #333333;
    --light-color: #fcfcfc;
    --bg-card: #b3dafc;
    --contrast-color: #fbbf5e;
    --primary-color: #9792E4;
    --p-card: #5a6e7f;
}

html{
    scroll-behavior: smooth;
}



body{
    font-family: 'PT Sans', sans-serif;
    background-color: var(--light-color);
}

.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
}

section{
    scroll-margin-top: 80px;
}

/* utility */
.text-center{
    text-align: center;
}

img{
    max-width: 100%;
}

p{
    line-height: 2rem;
}

h3{
    font-size: 1.5rem;
}

h2{
    font-size: 2.5rem;
}
/* header */
header{
    background-color: var(--secondary-color);
    color: var(--light-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 80px;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style: none;
}

header nav ul{
    display: none;
}

header nav a{
    color: var(--light-color);
}
/* main */
main{
    margin-top: 80px;
}

.even{
    background-color: var(--primary-color);
}

.card{
    background-color: var(--bg-card);
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 20px;
    font-weight: bold;
}

.card .image{
    max-width: 75%;
    margin: 25px 0 -25px;
}


#intro .card:first-child p{
    text-align: left;
}

#intro .card:first-child img{
    display: block;
}

#intro .card p{
    color: var(--p-card);
    padding: 20px 0;
}

.button{
    
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    width: fit-content;  
    margin: 0 auto; 
}
    

.blue{
    background-color: var(--secondary-color);
    color: var(--light-color);
}

.button-blue i{
    padding-right: 10px;
}

.fa-file-code, .fa-compass-drafting, .fa-laptop-code, .fa-bullhorn{
    font-size: 5rem;
    color: var(--secondary-color);
    padding: 20px 0;
}

#intro .card h3{
    color: var(--secondary-color);
}

/* Planning */

#planning{
    color: var(--light-color);
}

#planning .card{
    background-color: var(--light-color);
    color: var(--dark-color);
    text-align: center;
    border-radius: 50px;
}

#planning .card h3{
    padding: 20px 0;
}

#planning .card p{
    text-decoration: dotted;
}


.arrow{
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: var(--primary-color);
   font-size: 25px;
   text-align: center;
   padding-top: 7px;
   margin: 2rem auto;
   cursor: pointer;
}

/* Testimonial */

#testimonials h2{
    color: var(--primary-color);
    padding: 2rem;
}

#testimonials .card{
    background-color: var(--primary-color);
    color: var(--light-color);
}

.user-img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}

#testimonials .user-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#testimonials .icon{
    font-size: 50px;
}


/* Features */

#features h2{
    text-align: center;
    color: var(--light-color);
}

#features .card{
    background-color: var(--light-color);
}

#features .card h2, #features .card h3{
    color: var(--primary-color);
    text-align: left;
}

#features h3{
    padding: 1rem 0;
}

#features p{
    color: var(--p-card);
    font-weight: 400;
}

.button-features{
    background-color: var(--primary-color);
    color: var(--light-color);
    margin: 20px 0;
    padding: 0.5rem 3rem;
}

/* About Us */

#about-us h2{
    color: var(--primary-color);
    font-size: 4rem;
}

#about-us h3{
    color: var(--primary-color);
}

#about-us p{
    padding-top: 2rem;
}


#about-us .user-img{
    margin: 3rem 0 2rem;
}

.img-icon{
    position: relative;
    display: inline-block;
}

.virgolette{
    font-size: 13rem;
    color: var(--primary-color);
    position: absolute;
    right: 0rem;
    top: 0rem;

}

#about-us .button{
    background-color: var(--primary-color);
    color: white;
    margin: 2rem 0 4rem;
}

#about-us .button span{
    padding-left: 5px;
}

/* Call to action */
#call-to-action{
    color: var(--light-color);
    text-align: center;
}

#call-to-action h3{
    padding: 2rem 0 1rem;
    font-weight: 400;
}

#call-to-action p{
    padding-bottom: 2rem;
}

.free{
    color: var(--contrast-color);
    padding: 2rem 0;
    font-size: 4rem;
}

#call-to-action .button{
    background-color: var(--light-color);
    color: var(--primary-color);
    font-weight: bold;
    padding: 1rem 5rem;
    border-radius: 2rem;
}

.underline{
    text-decoration: underline;
}

/* Footer */
footer{
    background-color: var(--dark-color);
    color: var(--light-color);
    font-size: 1rem;
    text-align: center;
}

footer .underline{
    color: var(--primary-color);
}

footer p{
    padding-top: 3rem;
}

/* responsive */

@media screen and (min-width: 768px) {

    .container{
        max-width: 750px;
    }

    .d-flex{
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
    }

    #intro .card{
        width: calc((100% / 3) - 10px);
    }

    #intro .card:first-child{
        width: calc((100% / 3 * 2 ) - 10px);
    }

    #features .d-flex{
        gap: 20px;
    }

    #features .card{
        width: calc((100% / 2) - 20px);
    }    

    .img-icon{
        width: 60%;
    }

    #about-us .d-flex{
        flex-flow: row nowrap;
        gap: 5rem;
    }

    .virgolette{
        right: -100px;
    }
}

@media screen and (min-width: 992px) {
    
    .container{
        max-width: 940px;
    }

    .hamburger{
        display: none;
    }

    header nav ul{
        display: flex;
    }

    .inner-flex{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 10px;
    }

    .card-left{
        width: calc(50% - 10px);
    }

    #testimonials .user-image{
        width: calc(30% - 10px);
    }

    #testimonials .card-text{
        width: calc(70% - 10px);
    }

    #planning .col{
        width: calc;
    }

}
